apiVersion: v1
kind: Service
metadata:
  name: vehicle-insurance-service
spec:
  selector:
    app: vehicle-insurance
  type: LoadBalancer # This will create an AWS Application Load Balancer
  ports:
    - protocol: TCP
      port: 80 # The Load Balancer will listen on port 80
      targetPort: 5000 # And forward traffic to our container's port 5000