apiVersion: v1
kind: Service
metadata:
  name: vehicle-insurance-service
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path:   /metrics
    prometheus.io/port:   '5000'
spec:
  selector:
    app: vehicle-insurance
  type: LoadBalancer # This will create an AWS Application Load Balancer
  ports:
    - protocol: TCP
      port: 80 # The Load Balancer will listen on port 80
      targetPort: 5000 # And forward traffic to our container's port 5000
      name: http # Name the port so the ServiceMonitor can find it