name: Deploy Application Docker Image to EC2 instance

on:
  push:
    branches: [main]

jobs:
  Continuous-Integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .  
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" > image_uri.txt

      - name: Upload image URI as artifact
        uses: actions/upload-artifact@v4
        with:
          name: image-uri-artifact
          path: image_uri.txt

  Continuous-Deployment:
    needs: Continuous-Integration
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials for Kubectl
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Update kube config
        run: aws eks update-kubeconfig --name vehicle-insurance-cluster --region ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Download image URI artifact
        uses: actions/download-artifact@v4
        with:
          name: image-uri-artifact

      - name: Deploy to EKS
        run: |
          # Read the image URI from the downloaded artifact file
          IMAGE_URI=$(cat image_uri.txt)

          # Create Kubernetes secret from GitHub secret. This only needs to run once, or when the secret changes.
          kubectl create secret generic mongodb-secret --from-literal=MONGODB_URL='${{ secrets.MONGODB_URL }}' --dry-run=client -o yaml | kubectl apply -f -
          
          # Trigger a rolling update of the deployment with the new Docker image
          kubectl set image deployment/vehicle-insurance-deployment vehicle-insurance-app=$IMAGE_URI